* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", Courier, monospace;
  font-weight: 400;
  color: white;
}

/*               -----COMPONENTS-----               */

/* HEADER */
header {
  background: linear-gradient(to bottom, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0));
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* NAVIGATION */
.navigation {
  width: 100%;
}
.navigationLink {
  text-decoration: none;
  color: white;
}
.navigationUL {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
/* Card */
.card {
  background-color: black;
  height: 36.5vh;
  width: 10em;
  display: flex;
  flex-direction: column;
  padding: 1em;

  background-color: hsla(0, 0%, 100%, 0.089);
  border: none;
  border-radius: 30px;
  box-shadow: 10px 10px 20px hsl(0, 0%, 0%);
}
.card img {
  height: 300px;
}

/*               -----PAGES-----               */

/* HOME PAGE */
.homePageContainer {
  width: 100%;
  background-image: url("/gradient-bg6.png");
}
.featuredMovieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movieDescription {
  text-align: center;
}
.movieImage {
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

/* LOGIN PAGE */

.loginPageContainer {
  --error-color: hsl(345, 100%, 50%);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/gradient-bg6.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.loginBox {
  height: 500px;
  width: 1000px;
  background-color: hsla(0, 0%, 50%, 0.089);
  border: none;
  border-radius: 30px;
  box-shadow: 10px 10px 20px hsl(0, 0%, 0%);

  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 100px);
}
.loginHeaderTextContainer {
  grid-area: 1 / 2 / 3 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginHeaderText {
  color: white;
  font-weight: 300;
  margin: 5px;
}
.loginPageUserNameAndPassContainer {
  grid-area: 3 / 2 / 6 / 8;
}
.loginPageUserNameContainer {
  display: flex;
  justify-content: center;
  color: white;
}
.loginPageUserPassContainer {
  display: flex;
  justify-content: center;
  color: white;
}
.inputFields {
  width: 100%;
  height: 40px;

  font-size: 1.5rem;
  font-weight: 200;

  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: hsl(0, 0%, 5%);
  border: 2px solid hsl(0, 0%, 35%);
  color: white;
  border-radius: 20px;
  margin: 5px;
}
.inputFields::placeholder {
  font-size: 1.5rem;
  font-weight: 200;
}
.errorInputFields {
  width: 100%;
  height: 40px;

  font-size: 1.5rem;
  font-weight: 200;

  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: hsl(0, 0%, 5%);
  border: 2px solid var(--error-color);
  color: white;
  border-radius: 20px;
  margin: 5px;
}
.submitMsgs {
  grid-area: 6 / 2 / 8 / 9;
  margin-left: 10px;
}
.submitErrorMessagesContainer p {
  font-weight: 200;
  color: var(--error-color);
}
.submitSuccessMessagesContainer h3 {
  font-weight: 200;
  color: hsl(120, 100%, 50%);
}
.submitButtonContainer {
  grid-area: 3 / 8 / 5 / 10;
}
.submitButton {
  width: 90%;
  height: 64px;
  margin: 5px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  border: 2px solid hsl(0, 0%, 35%);
  border-radius: 20px;
}
.loginButton {
  background-image: linear-gradient(
    to right,
    hsl(323, 100%, 50%) 0%,
    hsl(301, 92%, 20%) 51%,
    hsl(323, 100%, 50%) 100%
  );
}
.loginButton:active {
  background-image: linear-gradient(
    to right,
    hsl(323, 100%, 40%) 0%,
    hsl(301, 92%, 10%) 51%,
    hsl(323, 100%, 40%) 100%
  );
}
.signupButton {
  background-image: linear-gradient(
    to right,
    hsl(182, 100%, 50%) 0%,
    hsl(209, 92%, 20%) 51%,
    hsl(182, 100%, 50%) 100%
  );
}
.signupButton:active {
  background-image: linear-gradient(
    to right,
    hsl(182, 100%, 40%) 0%,
    hsl(209, 92%, 10%) 51%,
    hsl(182, 100%, 40%) 100%
  );
}
.submitButton:hover {
  background-position: right center;
  text-decoration: none;
}
.loginSeparatorContainer {
  grid-area: 8 / 1 / 9 / 11;
  display: flex;
  justify-content: center;
}
.loginSeparator {
  width: 95%;
  height: 0px;
  border: 1px solid hsl(0, 0%, 35%);
}
.loginNoAccountTextContainer {
  grid-area: 8 / 2 / 10 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginNoAccountText {
  margin: 5px;
  color: white;
  font-weight: 200;
}
.signUpToggleButtonContainer {
  grid-area: 8 / 5 / 10 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpToggleButton {
  width: 75%;
  height: 50px;
  margin: 5px;
  background-color: hsl(0, 0%, 5%);
  border: 2px solid hsl(0, 0%, 35%);
  border-radius: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}
.signUpToggleButton:hover {
  background-color: hsl(0, 0%, 10%);
}
.featuredMovieItem img {
  max-width: 200px;
  height: auto;
}

/* MOVIES PAGE */

.moviesPageContainer {
  display: flex;
  height: 93vh;
  padding-top: 4em;
  padding-left: 4em;
  
  background-image: url("/gradient-bg6.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.searchBar {
  position: fixed;
  right: 3em;
  display: flex;
  align-items: center;
  width: 13%;
}
.searchBar input {
  width: 70%;
  height: 0.5em;

  padding: 1em;

  background-color: hsl(0, 0%, 5%);
  border: 2px solid hsl(0, 0%, 35%);
  color: white;
  border-radius: 20px;
  margin: 5px;
}
.searchBar button {
  width: 20%;
  height: 38px;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  border: 2px solid hsl(0, 0%, 35%);
  border-radius: 1em;

  background-image: linear-gradient(
    to right,
    hsl(323, 100%, 50%) 0%,
    hsl(301, 92%, 20%) 51%,
    hsl(323, 100%, 50%) 100%
  );
}
.searchBar button:active {
  background-image: linear-gradient(
    to right,
    hsl(323, 100%, 40%) 0%,
    hsl(301, 92%, 10%) 51%,
    hsl(323, 100%, 40%) 100%
  );
}
.searchBar button:hover {
  background-position: right center;
  text-decoration: none;
}
.searchResults {
  width: 84%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.searchResults::-webkit-scrollbar {
  display: none;
}
.searchResults .card {
  margin: 0.5em;
  display: inline-block;
  width: 10em;
  text-align: center;
}
.searchResults .card img {
  display: flex;
  width: 100%;
  height: 90%;
}
.searchResults .card h2 {
  width: 100%;
  overflow: hidden;
  height: 50px;
}
/* NO PAGE */
.noPageContainer {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/gradient-bg6.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.noPageBox {
  height: 40%;
  width: 50%;
  background-color: hsla(0, 0%, 50%, 0.089);
  border: none;
  border-radius: 30px;
  box-shadow: 10px 10px 20px hsl(0, 0%, 0%);

  display: flex;
  justify-content: center;
  align-items: center;
}
.noPageBox h1 {
  text-align: center;
  width: 100%;
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .loginBox {
    width: 600px;
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(12, 50px);
  }
  .loginPageUserNameAndPassContainer {
    grid-area: 3 / 2 / 6 / 10;
  }
  .submitButtonContainer {
    grid-area: 3 / 10 / 5 / 12;
  }
  .loginSeparatorContainer {
    grid-area: 8 / 1 / 9 / 13;
  }
  .signUpToggleButtonContainer {
    grid-area: 8 / 9 / 10 / 12;
  }
  .submitButton {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .loginBox {
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(12, 50px);
    grid-template-columns: repeat(8, 50px);
  }
  .loginHeaderText {
    font-size: 1.7em;
  }
  .loginPageUserNameAndPassContainer {
    grid-area: 3 / 2 / 6 / 8;
  }
  .submitButtonContainer {
    grid-area: 3 / 6 / 5 / 8;
  }
  .submitErrorMessagesContainer {
    grid-area: 6 / 2 / 10 / 6;
  }
  .loginSeparatorContainer {
    grid-area: 10 / 1 / 11 / 13;
  }
  .loginNoAccountTextContainer {
    grid-area: 10 / 2 / 12 / 8;
  }
  .signUpToggleButtonContainer {
    grid-area: 11 / 2 / 13 / 5;
    justify-content: start;
  }
  .submitButtonContainer {
    grid-area: 6 / 6 / 8 / 8;
  }
  .submitButton {
    font-size: 1.2rem;
  }
  .loginNoAccountText {
    font-size: 1.3rem;
  }
}
/* ALREADY LOGGED IN */
.loggedInPageContainer {
  height: 100vh;
  background-image: url("/gradient-bg9.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoutButtonContainer {
  grid-area: 1 / 11 / 3 / 13;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoutButton {
  width: 25%;
  height: 50%;
  border: none;
  background: url("/logout_icon_red.svg");
}