/* movies.css */

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", Courier, monospace;
    font-weight: 400;
    color: white;
  }
  
  /* COMPONENT STYLES */
  /* HEADER */
  /* No styles added for header as it's not present in Movies component */
  
  /* NAVIGATION */
  /* No styles added for navigation as it's not present in Movies component */
  
  /* Card */
  .card {
    background-color: black;
    height: 36.5vh;
    width: 10em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: hsla(0, 0%, 100%, 0.089);
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 20px hsl(0, 0%, 0%);
  }
  .card img {
    height: 300px;
  }
  
  /* PAGES STYLES */
  /* MOVIES PAGE */
  .moviesPageContainer {
    display: flex;
    height: 93vh;
    padding-top: 4em;
    padding-left: 4em;
    background-image: url("/gradient-bg6.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .searchBar {
    position: fixed;
    right: 3em;
    display: flex;
    align-items: center;
    width: 13%;
  }
  .searchBar input {
    width: 70%;
    height: 0.5em;
    padding: 1em;
    background-color: hsl(0, 0%, 5%);
    border: 2px solid hsl(0, 0%, 35%);
    color: white;
    border-radius: 20px;
    margin: 5px;
  }
  .searchBar button {
    width: 20%;
    height: 38px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: 2px solid hsl(0, 0%, 35%);
    border-radius: 1em;
    background-image: linear-gradient(
      to right,
      hsl(323, 100%, 50%) 0%,
      hsl(301, 92%, 20%) 51%,
      hsl(323, 100%, 50%) 100%
    );
  }
  .searchBar button:active {
    background-image: linear-gradient(
      to right,
      hsl(323, 100%, 40%) 0%,
      hsl(301, 92%, 10%) 51%,
      hsl(323, 100%, 40%) 100%
    );
  }
  .searchBar button:hover {
    background-position: right center;
    text-decoration: none;
  }
  .searchResults {
    width: 84%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .searchResults::-webkit-scrollbar {
    display: none;
  }
  .searchResults .card {
    margin: 0.5em;
    display: inline-block;
    width: 10em;
    text-align: center;
  }
  .searchResults .card img {
    display: flex;
    width: 100%;
    height: 90%;
  }


  .searchResults .card h2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 50px;
    font-size: 1.5rem;
  }

  .detailPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .movieDetails {
    display: flex;
  }
  
  .movieDetails img {
    max-width: 300px;
    margin-right: 20px;
  }
  
  .details {
    flex: 1;
  }
  
  
  